.App {
  text-align: center;
}

#map {
  height: 100vh;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#header {
  text-align: center;
}

h3{
  margin: 0;
}
 
#container {
  display: flex;
  background-color: rgb(247, 245, 158);  
}

/* Errorscreen */
.errorscreen-msg {
  text-align: center;
}

/* ====================== media queries ====================== */

@media only screen and (min-width: 320px) and (max-width: 502px) {
  
  #header {
      margin-left: 10px;
      padding-left: 10px;
      font-size: 4vw;;
      width: 100vw;
    }

  #map {
    width: 100vw;
  }
}
  
  @media only screen and (min-width: 503px) and (max-width: 1024px) {
    #header {
      margin: 0;
      font-size: 4vw;;
      width: 100vw;
    }

  #map {
    width: 100vw;
  }
}